@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.align {
  padding: 20px;
}

body {
  background-image: linear-gradient(to bottom, #2d59028a, transparent);
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* INICIO DO MEDIA QUERY PARA TELAS PEQUENAS E MÉDIAS */

@media only screen and (max-width: 768px) {
  /* HEADER */
  header {
    background-color: rgb(0, 128, 0);
    width: 100%;
  }

  header img {
    width: 100vw;
    height: auto;
    padding: 20px;
  }

  nav {
    padding-bottom: 15px;
    width: 100vw;
    display: block;
  }

  #navmenu {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    background-color: #2e5902;

    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    padding-top: 15px;
  }

  #menu li {
    text-align: center;
    list-style: none;

    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  /* MENU HAMBURGUER */
  i#burguer {
    background-image: linear-gradient(to bottom, #2d59028a, transparent);

    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 10px;
    cursor: pointer;

    border-radius: 10px 10px 0px 0px;
  }
  /* FIM DO MENU HAMBURGUER */

  /* FIM DO HEADER */

  /* LAYOUT 1 */
  #layout1 {
    background-image: url(../midia/pexels-marcus-aurelius-4064229.jpg);

    background-size: cover;
    background-position: left center;

    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  /* LAYOUT 2 */
  #layout2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-image: linear-gradient(to bottom, #2d59028a, transparent);
  }

  #foto-brehmmer img {
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: inset 14px -8px 20px 4px rgba(0, 0, 0, 0.658);
    width: 300px;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
  }

  #sobre h2 {
    display: flex;
    flex-direction: column;
    text-align: center;

    color: black;
  }

  #sobre p {
    text-align: justify;
    text-indent: 15px;
    letter-spacing: 1px;

    color: black;
  }

  #pontos {
    display: inline;
  }

  #mais {
    display: none;
  }

  #botao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #botao #btnLeiaMais {
    font-size: 1.1em;
  }
  /* FIM LAYOUT 2 */

  /* LAYOUT 3 */
  #layout3 {
    display: grid;
    place-items: center;
    font-size: 1.5em;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 25px;

    background-color: transparent;
  }

  #itens {
    width: 90vw;
    height: 300px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  .item {
    flex: none;
    scroll-snap-align: start;
    pointer-events: none;

    width: 100%;
    height: 100%;
  }

  .item > img {
    width: 100%;
    height: 100%;
  }

  #btn-galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8em;
  }
  /* FIM LAYOUT 3 */

  /* LAYOUT 4 */
  #layout4 {
    background-color: transparent;
  }

  #fundo-mapa {
    background-color: #2e5902;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-top: 25px;
  }

  #contatos p {
    color: white;
    text-align: center;
    font-size: 1.2em;
  }

  #contatos {
    background-color: #2e5902;
    display: flex;
    flex-direction: column;

    height: 340px;
    gap: 25px;
  }

  #fundo-mapa h2 {
    text-align: center;
    color: white;
  }

  #contatos .numeros {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: white;

    list-style: none;
    height: 100vh;
    gap: 25px;
  }

  hr {
    background-image: linear-gradient(
      to right,
      rgba(3, 71, 3, 0.562),
      transparent
    );
    height: 5px;
  }
}
/* FIM LAYOUT 4 */

/* MEDIA QUERY TELAS GRANDES */

@media only screen and (min-width: 769px) {
  /* HEADER */
  header {
    background-color: rgb(0, 128, 0);
    width: 100%;
    display: block;
    justify-items: center;
    text-align: center;
  }

  header img {
    margin: auto;
    padding: 20px;
    width: 70vw;
    height: 100%;
  }

  nav {
    padding-bottom: 15px;
    width: 90vw;
    display: block;
  }

  #navmenu {
    display: block;
  }

  #menu {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    background-color: #2e5902;

    padding-bottom: 15px;
    padding-top: 15px;
  }

  li {
    text-align: center;
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
 
   
  }

  #menu > li > a:hover {
    background-color: #69cc0585;
    border-radius: 10px;
    color: rgba(255, 0, 0, 0.514);
    transition: 0.2s ease-in;
 

  }
  /* MENU HAMBURGUER */
  i#burguer {
    display: none;
  }
  /* FIM DO MENU HAMBURGUER */

  /* FIM DO HEADER */

  body{
    width: 90vw;
    margin: auto;
        
  }
  
  /* LAYOUT 1 */

  #layout1 {
    background-image: url(../midia/pexels-marcus-aurelius-4064229.jpg);

    background-size: cover;
    background-position: left center;

    width: 90vw;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  /* LAYOUT 2 */
  #layout2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, #2d59028a, transparent);
  }

  #foto-brehmmer img {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.336);
    box-shadow: inset 14px -8px 20px 4px rgba(0, 0, 0, 0.658);
    width: 300px;

  }

  #sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
  }

  #sobre h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    color: black;
    font-size: 2em;
  }

  #sobre p {
    text-align: justify;
    text-indent: 15px;
    letter-spacing: 1px;

    font-size: x-large;

    color: black;
  }

  #pontos {
    display: inline;

  }

  #mais {
    display: none;
  }

  #botao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  #botao #btnLeiaMais {
    font-size: 1.5em;
  }
  /* FIM LAYOUT 2 */

  /* LAYOUT 3 */
  #layout3 {
    
    place-items: center;
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: transparent;
  }
  
  }
  #itens {
    width: 60vw;
    height: 40vh;
    display: contents;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: center;

    
   
  }

  .item {
  
    scroll-snap-align: start;
    pointer-events:none;
    
    /* width: 80%;
    height: 100%; */
    width: 300px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.596);
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.425);
  }

  .item > img {
    
    width: 100%;
    height: 100%;
  }

  #btn-galeria {
    width: 100%;
    display: flex;
    
    
    justify-content: center;
    font-size: 0.8em;
  }
  /* FIM LAYOUT 3 */

  /* LAYOUT 4 */
  #layout4 {
    background-color: transparent;
  }

  #fundo-mapa {
    background-color: #2e5902;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-top: 25px;
  }

  #contatos p {
    color: white;
    text-align: center;
    font-size: 1.2em;
  }

  #contatos {
    background-color: #2e5902;
    display: flex;
    flex-direction: column;

    height: 500px;
    gap: 25px;
  }

  #fundo-mapa h2 {
    text-align: center;
    color: white;
  }

  #contatos .numeros {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: white;

    list-style: none;
    height: 100vh;
    gap: 25px;
  }

  .numeros > a > li{
    text-decoration: none;
  }

  .numeros > a > li:hover {
    background-color: #69cc0585;
    border-radius: 10px;
    color: rgba(255, 0, 0, 0.514);
    transition: 0.2s ease-in;
    
  }

  .numeros > li:hover {
    background-color: #69cc0585;
    border-radius: 10px;
    color: rgba(255, 0, 0, 0.514);
    transition: 0.2s ease-in;
  }



  hr {
    background-image: linear-gradient(
      to right,
      rgba(3, 71, 3, 0.562),
      transparent
    );
    height: 5px;
  }

/* FIM LAYOUT 4 */
